BASE_PATH=/data/compose/forgejo

HTTP_PORT=3003
SSH_PORT=222

USER_UID=1000
USER_GID=1000

FORGEJO_DOMAIN=localhost
FORGEJO_SSH_DOMAIN=localhost
FORGEJO_ROOT_URL=http://localhost:3003/
DISABLE_REGISTRATION=false
